<!DOCTYPE html>
<html>
<head>
    <title>Co-Labor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/layout.css"></link>
</head>
<body style="background-color: #f7d249">
    <div class="inner-body">
        <div class="carrossel">
            <div id="carrossel" class="carrossel-inner">
                <img class="carrossel-img" src="../image/3_O Homem Invisível_FelipeTakei_THUMB_Prancheta 1.jpg">
            </div>
            
            <div id="carrossel-balls" class="carrossel-balls"></div>
        </div>

        <div class="navbar-margin"></div>
        <div id="navbarbg" class="navbarbg"></div>

        <div id="navbar" class="navbar" style="transform: translateY(10px);">
            <div class="navbar-itens" style="font-size: 0.8em;">
                <a href="/home" style="position: relative; display: inline-block; max-width: 220px; width: 20%;">
                    <img src="../image/header_Prancheta 1-svg.svg" style="filter: invert(1); transform: translateY(20%); width: 100%;">
                </a>
                <a class="navbar-itens-a" href="#">
                    <span style="color:white" class="navbar-itens-a-normal">Agenda</span>
                    <span style="color:white" class="navbar-itens-a-bold">Agenda</span>
                </a>
                <a class="navbar-itens-a" href="#">
                    <span style="color:white" class="navbar-itens-a-normal">Produtos</span>
                    <span style="color:white" class="navbar-itens-a-bold">Produtos</span>
                </a>
                <a class="navbar-itens-a" href="/contato">
                    <span style="color:white" class="navbar-itens-a-normal">Contato</span>
                    <span style="color:white" class="navbar-itens-a-bold">Contato</span>
                </a>
                <a class="navbar-itens-a" href="/sobre">
                    <span style="color:white" class="navbar-itens-a-normal">Sobre</span>
                    <span style="color:white" class="navbar-itens-a-bold">Sobre</span>
                </a>
                <a class="navbar-itens-a" href="#">
                    <span style="color:white" class="navbar-itens-a-normal">Cadastro/Login</span>
                    <span style="color:white" class="navbar-itens-a-bold">Cadastro/Login</span>
                </a>
            </div>
        </div>

        <div id="about" style="width: 100%; font-family: myFinancierRegular; font-size: 1.2em; text-align: justify;">
            <h1 style="text-align: center; padding-top: 100px; font-family: myFinancierBlack; padding-bottom: 20px;">THE INVISIBLE MAN </h1>
            <p style="text-align: center; font-family: myFuturaMedium; font-size: .8em;">Sobre Tim Maia, Masculinidade para Robert Eggers e Magic Mike, A New Wave Japonesa e Kiarostami</p>
            <p style="text-align: center; color: white; font-size: .8em; padding-bottom: 20px;">Por Felipe Takei</p>
            <p>Na incerteza de como iniciar este texto da forma mais atenciosa às motivações que me levam a escrevê-lo tomei a decisão de pesquisar quantas vezes dá pra se ouvir a música “Do Leme ao Pontal” do Tim Maia numa viagem do Leme carioca até o Pontal, e segundo a conta do twitter “quantas vezes da pra ouvir a música”, aparentemente 15 vezes. Sim, é assim mesmo que eu vou começar isso.</p>
            <p style="font-family: myFuturaMedium; padding: 10px 0;">Cap.I: Eu vi tanto homem invisível esses tempos que invisibilidade não significa mais nada pra mim.</p>
            <p style="text-indent:4em;">Irônico, em tempos de quarentena, estar se escrevendo sobre um filme cuja primeira sequência é de uma mulher em desespero pra sair de casa, em esperanças de fugir de todos os tipos de violência a quais é submetida no ambiente caseiro. Contudo, os contos do Homem Invisível datam de uma época mais antiga à emersão dos malefícios da masculinidade tóxica, período este responsável por cria-la.</p>
            <p style="text-indent:4em;">Nascido em 1897 pela imaginação de H. G. Wells, o Homem Invisível foi adquirido pela Universal Studios em 1933, passando a figurar no que foi chamado de “Universal Monsters”, posteriormente adaptados como reação à obsessão da audiência moderna pelo consumo serializado no “Dark Universe”, sendo depois adaptado como “melhor meme do film Twitter e possivelmente razão pela qual o Tom Cruise deve chorar no banho”, até que enfim reinterpretado pelo Estúdio Blumhouse no filme de 2020, o que só reforça a decepção de H. G. Wells acerca de adaptações de sua obra: ela nunca foi, de fato, adaptada.</p>
            <p style="text-indent:4em;">De acordo com um documentário acerca da produção de Invisible Man (Whale, 1933), o Magneto Velho (provavelmente não foi ele, mas ele é o único ator relevante naquele documentário, inclusive não sei escrever o nome dele e o Google está muito longe), a obra original de Wells, cujo personagem titular representava a invasão de um discurso político subversivo e populista na sociedade, converteu-se numa análise de poder bélico e megalomaníaco por um protagonista tão fissurado na própria inteligência como atividade-fim que a única ambição que consegue materializar acima de sua existência é a dominação mundial.</p>
            <p style="text-indent:4em;">Não entrego a causalidade na astrologia ou energias do universo que provavelmente aquele cara que toca legião urbana de barba mal feita no sarau da faculdade fala (sim, você sabe de quem eu estou falando), mas acredito nas forças misteriosas que fazem todas as adaptações de Homem Invisível flertarem acerca da relação entre o homem e o poder, afinal, não pode ser coincidência que sua primeira transposição pra mídia cinematográfica seja de um cientista maluco que quer dominar o mundo logo em tempos de conflitos bélicos mundiais onde homens tinham sonhos eróticos com alguma fórmula mágica que os tornasse mais poderosos que o inimigo, que os tornasse superiores.</p>
            <p style="text-indent:4em;">Ok, talvez “ser o homem mais poderoso do mundo desde que você esteja pelado” não seja uma frase muito respeitável, mas não é pior que “o espião invisível mais indetectável do mundo desde que esteja pelado e num período temporal onde sensores de calor não foram inventados” (Marin, 1942) ou “a mulher invisível que usa seus poderes para se vingar do seu chefe porque em tempos da Era de Ouro mulheres obrigatoriamente eram escritas apenas como protagonistas de comédia sem ambições de grandeza, e sim, ela também deia estar pelada” (Sutherland, 1940).</p>
            <span style="position: relative; width: 100%;">
                <img style="width: 100%; padding: 30px 0;" src="../image/homem_invisivel_-_reproducao_-_youtube_widelg.jpg">
                <span style="position: absolute; left: 50%; bottom: 100%; color: white; transform: translate(-50%, -200%); font-family: myFuturaMedium;">O Homem Invisível (1933)</span>
            </span>
            <p style="text-indent:4em;">É evidente como toda encarnação do Homem Invisível (ou Mulher) tem essa estranha atração à: 1) possibilidade de se remanejar o status quo contra poderes vigentes na respectiva época de sua produção; 2) Gente pelada;</p>
            <p style="text-indent:4em;">Tempos de conflito ideológicos e a consolidação do sistema geopolítico e discursos ideológicos? O orador subversivo será invisível! Tempos de conflito armado entre potências mundiais? O poder é reivindicado pela invisibilidade de um homem mais esperto! Tempos de espionagem contra o Reich? O espião será invisível! Tempos onde os executivos de Hollywood achavam que o maior obstáculo feminino era o seu chefe? A mulher será invisível (com voluptuosas silhuetas ainda visíveis, claro)!</p>
            <p style="text-indent:4em;">Não que a invisibilidade de fato não signifique mais nada, ela significa, mas significa o mesmo que a invisibilidade do protagonista de (sim, isso existe) The Son of The Invisible Man (Landis, 1987), onde o protagonista pensa estar invisível (faz menos sentido a cada letra) e usa isso a seu favor em pequenas petulâncias rotineiras só por achar que não seria pego (e sim, ele fica pelado o curta inteiro).</p>
            <p style="text-indent:4em;">Invisibilidade é um meio de executar poder, um subterfúgio da consequência e da moralidade e, por fim, uma ferramenta de opressão tão irônica que liga todos os protagonistas que não podem ser vistos em sua secreta ambição em serem vistos, seja como superiores intelectualmente, ideologicamente ou socialmente.</p>
            <p style="font-family: myFuturaMedium; padding: 10px 0;">Cap. II: Só existe um homem mágico e o nome dele é Mike (Do set-up e da ironia)</p>
            <p style="text-indent:4em;">Ok, que tal voltarmos à Mulher Invisível? Ok, ela se vinga do chefe blá blá blá, mas todos  sabemos que toda sua gênese foi inspirada no desejo dos executivos da Era de Ouro em burlar o Código Hays e mostrar uma mulher pelada pra uma audiência masculina que não tinha pornografia nos anos 40. A mulher invisível não tinha poder, os executivos tinham poder sobre ela.</p>
            <p style="text-indent:4em;">O ano é 2020, o Zemeckis errou tudo que disse que aconteceria no futuro de Back to the Future 2, fez o total de 0 filmes bons desde então e a protagonista de uma reinterpretação do Homem Invisível ainda não tem poder.</p>
            <p style="text-indent:4em;">O Homem Invisível de 2020 deixa o homem ser, enfim, invisível, contando a história de uma perspectiva feminina que não vê seu agressor, porém não está liberta dele. Aqui, a figura masculina não mais busca poder, mas o exerce como prerrogativa de sua masculinidade, esta negligentemente moldada e substituível por rigidez emocional, elegância, aptidão física e (antes que a imagem do Channing Tatum em Magic Mike venha à sua cabeça) condutas de alienação emocional como meio de progredir no ranking de dominância.</p>
            <p style="text-indent:4em;">Como apontado num vídeo do Key and Skittles sobre the Lightouse, Winslow e o Willem Dafoe pirata estão separados por apenas um teto. Winslow se masturba abaixo dele delirando sobre uma sereia e o Dafoe Pirata se masturba acima dele banhado por sua luz. Winslow inveja sua posição e quer tanto a posição do chefe que a luz do farol o despersonaliza até engoli-lo, até reconhece-lo como másculo, até ser um homem, que fora essa característica, é invisível (HE SAID THAT).</p>
            <p style="text-indent:4em;">Channing Tatum é gostoso, mas a mágica da franquia Magic Mike não está na forma como o quadril de cada ser humano daquele filme se movimenta, mas no carinho da forma com a qual eles são mostrados como o potencial máximo da beleza e extroversão humanas. Todos. A beleza da M.C. negra fotografada em luzes azuis e vermelhas, o carisma do D.J. Tobias filmado horizontalmente como fator essencial pra matemática do grupo de dançarinos profissionais adultos, a busca prolixa da identidade de Mike no corpo de alguém que não presume sentimentos.</p>
            <p style="text-indent:4em;">Magic Mike, principalmente o XXL é a realização do mundo ideal onde todos são belos e existem com o único propósito de te entreter e te fazer se sentir belo, um mundo onde o masculino pode ser uma cura, e no caso dos protagonistas da franquia, principalmente quando estiverem pelados e muito bem visíveis, em filosofia paradoxal à de qualquer vida do Homem Invisível, imbatível na sua nudez por ostentá-la como poder, enquanto Mike a utiliza como berrante chamando todos os cornos.</p>
            <p style="font-family: myFuturaMedium; padding: 10px 0;">Cap. III: Do Leme ao Pontal tem muita paisagem</p>
            <p style="text-indent:4em;">Como o Magneto Velho afirma no documentário sobre a produção do homem invisível, seu sucesso de bilheteria deu-se em razão da curiosidade do público pelas inovações técnicas que fizeram o protagonista transparente, e há fundamentação para isso, o cinema é o casamento da técnica com a realidade, sendo a segunda infinitamente mais marketável que a primeira.</p>
            <p style="text-indent:4em;">Contudo, há de se reconhecer a gradativa impaciência da audiência contemporânea, de forma que hoje não mais é interessante ver um homem sumindo, e sim como e, principalmente, quando ele aparece. O comentário que mais ouvi saindo da sessão de Invisible Man foi “nossa não acontecia nada na primeira parte do filme”. De fato, não aconteceram e provavelmente foi a metade mais barata do filme, porém sem a qual sua segunda metade climática e completamente idiota (porém divertida!!) não aconteceria.</p>
            <p style="text-indent:4em;">Fora o jogo da M*arvel de “vamos ver quantas pessoas famosas conseguimos colocar num mesmo take”, a técnica ainda é um dos motivos que faz uma pessoa tirar a bunda do sofá de casa. Ninguém mais se importava com filmes de guerra até o Sam Mendes decidir fazer 1917, mas argumento que a universalidade da mídia ainda se encontra na realidade e nas formas como uma boa direção pode manipulá-la, apenas com a magia da imagem e do conceito.</p>
            <p style="text-indent:4em;">Nos momentos iniciais do filme os takes são estáticos, as cenas são distantes e transitam entre planos estáticos e tomadas quase voyeurs que te fazem pensar se você é o POV do monstro (técnica diretamente retirada do arsenal de Bava e Carpenter). Não sejamos céticos, é um terror chamado “Homem Invisível” que grita a existência do monstro logo no início da segunda terça parte. Contudo, até a cena da coberta, reina nesse filme a mesma magia e Abbas Kiarostami nos momentos finais de Close Up (1971), onde toda informação alimentada é aquela da realidade. Imagens, sons e o fantasma de uma ideia. A comida queimou ou o monstro aumentou o fogo?? E se aumentou, onde ele está?? O que irá se mover nesse quadro tão aberto??</p>
            <p style="text-indent:4em;">Invisible Man, 2020 tem a muito temida ambiguidade em uma grande porção de seu comprimento, onde o cinema é mais puro e demonstra a proximidade de seu autor à essência da mídia escolhida, uma ambiguidade calculada que engaja a audiência num exercício de pura apreciação de mise-em-cene.</p>
            <p style="text-indent:4em;">Em 1970, Hiroshi Teshigahara questionou a identidade em The Face of Another da forma mais engajadora possível: ele fez a audiência questionar a câmera e tudo que ela mostrava. Imagens como intermédios aos monólogos dos atores, perspectiva geográfica constantemente mascarada no início de determinadas sequências, protagonistas aparentemente em uma conversa frente a frente sendo revelados a metros de distância, um de costas pro outro, dentre outros exemplos responsáveis pela genialidade e afastamento de seu produto do grande público.</p>
            <p style="text-indent:4em;">O cinema puro se delonga no limite da cortesia da audiência e sua comparação ao cinema popular é conclusa apenas em metáforas. Em uma viagem do Leme ao Pontal, o que é melhor? A impaciência da chegada ao Pontal ou aproveitar as 15 vezes nas quais você pode ouvir Do Leme ao Pontal?</p>
            <p>Aposto que você não achou que eu votaria a falar disso.</p>
            <span style="position: relative; width: 100%;">
                <img style="width: 100%; padding: 30px 0;" src="../image/ohomeminvisivel_2020.jpg">
                <span style="position: absolute; left: 50%; bottom: 100%; color: white; transform: translate(-50%, -200%); font-family: myFuturaMedium;">O Homem Invisível (2020)</span>
            </span>
            <p style="font-family: myFuturaMedium; padding: 10px 0;">Cap. IV: Conclusão e N’Sync</p>
            <p style="text-indent:4em;">É, conceito legal e muito bem manipulado pela pureza do cinema da primeira parte, maravilhosamente esquecida no final porque aparentemente eles gastaram muito dinheiro animando aquela armadura invisível e essa parte era importantíssima, para a alegria da Mulher Invisível original, finalmente capaz de tomar o poder e exercê-lo por usar da roupa invisível no final do filme.</p>
            <p style="text-indent:4em;">Sim, ainda vou falar sobre coisas importantes na conclusão, ok? Principalmente por essa breve ironia temática recebe com boas vindas a ascensão feminina e um  ciclo aparente de vingança que nada mais é do que a forma de remediar os muitos anos onde esse poder foi dela retirado, tempos onde N’Sync cantava:</p>
            <p style="font-size: .8em; font-family: myFuturaMediumOblique; padding-top: 15px;">
                “Take a space ride with the cowboy, baby<br>
                Why-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie Take a space ride with the cowboy, baby<br>
                Why-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie-yi-yay<br>
                Why-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie-yi-yo-yi-yay<br>
                Why-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie-yi-yo”
            </p>
            <p style="font-size: .7em; font-family: myFuturaMediumOblique; color: white;">
                “Pegue uma carona espacial com o cowboy, querida<br>
                Que-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie Pegue uma carona espacial com o cowboy, querida<br>
                Que-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie-yi-yay<br>
                Que-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie-yi-yo-yi-yay<br>
                Que-yi-yi-yippie-yi-yay-yippie-yi-yo-yippie-yi-yo”
            </p>
            <p style="text-indent:4em;">Sim, eu só coloquei isso aqui porque está completando 20 anos do No Strings Attatched e porque ao contrário do que 5 meninos americanos brancos pensavam, as mulheres tem a plena capacidade de voar sem o cowboy do espaço.</p>
            <p style="text-indent:4em;">As cenas em suspeito POV do filme não são necessariamente do monstro, o ponto de referência é a plateia, e mesmo que seja apenas um recurso de direção esperto, dependendo da forma como o espectador exerce a própria masculinidade ou qualquer outra forma de poder, ela é, por alguns momentos, o monstro.</p>
            <br>
            <p>See You Space Cowboy...<br><span style="font-family: myFuturaMediumOblique; font-size: .8em; color: white;">(Te vejo por ai Cowboy Espacial...)</span></p>
            <div class="footer-break"></div>

            <div style="left:0; opacity: 1;" class="about-pessoa-card">
                <div class="about-pessoa-card-img">
                    <img style="width:150%; position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%);" src="../image/Icones/membros_avatares_felipe.svg">
                </div>
                <div class="about-pessoa-card-text" style="width: 300px;">
                    <span style="font-weight: bold; font-family: myFuturaMedium;">Felipe Takei</span><br>
                    Advogado cujo objetivo é pagar o Letterboxd Pro. Perdi o edital pra entrar no Backstreet Boys. Escrevo pra tirar algo do papel algum dia. Parte do Coletivo Labor, responsável pelo setor jurídico, curador e produtor de conteúdo.
                    <div class="footer-rede-social">
                        <a class="footer-itens-a" target="_blank" href="https://www.instagram.com/felipeyasuhiro/">
                            <span class="footer-itens-a-normal">Instagram</span>
                            <span class="footer-itens-a-bold b2">Instagram</span>
                        </a><span class="footer-itens-a">|</span>
                        <a class="footer-itens-a" target="_blank" href="https://www.facebook.com/felipe.yasuhiro/">
                            <span class="footer-itens-a-normal">Facebook</span>
                            <span class="footer-itens-a-bold b2">Facebook</span>
                        </a><span class="footer-itens-a">|</span>
                        <a class="footer-itens-a" target="_blank" href="https://letterboxd.com/Yasuhiro/">
                            <span class="footer-itens-a-normal">Letterboxd</span>
                            <span class="footer-itens-a-bold b2">Letterboxd</span>
                        </a>
                    </div>
                </div>
            </div>

            <div style="width: 100%; margin-bottom: 50px;">
                <div class="aboutBold" style="padding: 50px 0 30px 0;">veja também</div>
                <a class="navbar-itens-a" href="/blog/1">
                    <img style="width: 33%; margin-top: 75px; float: left; border-style: solid; border-width: 1.5px; background-color: black; margin-right: 30px;" src="../image/3_O Homem Invisível_FelipeTakei_THUMB_Prancheta 1.jpg">
                </a>
                <a class="navbar-itens-a" href="/blog/2">
                    <img style="width: 33%; border-style: solid; border-width: 1.5px; background-color: black; margin-right: 30px;" src="../image/thumnail_feeddosite-03.jpg">
                </a>
            </div>
        </div>

        <div class="footer">
            <div class="footer-img-wrapper">
                <img class="footer-img" src="../image/Logos/Marca_Co_Labor_transparente1.svg">
            </div>
            <div class="footer-box left">
                <a class="footer-itens-a" href="#">
                    <span class="footer-itens-a-normal">Loja</span>
                    <span class="footer-itens-a-bold">Loja</span>
                </a>
                <br><br>
                <a class="footer-itens-a" href="#">
                    <span class="footer-itens-a-normal">Agenda</span>
                    <span class="footer-itens-a-bold">Agenda</span>
                </a>
            </div>
            <div class="footer-box left">
                <a class="footer-itens-a" href="/sobre">
                    <span class="footer-itens-a-normal">Sobre</span>
                    <span class="footer-itens-a-bold">Sobre</span>
                </a>
                <br><br>
                <a class="footer-itens-a" href="/contato">
                    <span class="footer-itens-a-normal">Contato</span>
                    <span class="footer-itens-a-bold">Contato</span>
                </a>
            </div>
            <div class="footer-box right">
                <span class="footer-text">Faça seu Cadastro:</span>
                <br><br>
                <input class="footer-input barra" placeholder="Email" type="text">
                <br><br>
                <input class="footer-input barra" placeholder="Senha" type="password">
                <br><br>
                <a class="footer-itens-a ativo" style="float: right;" href="#">
                    <span class="footer-itens-a-normal">OK</span>
                    <span class="footer-itens-a-bold b2">OK</span>
                </a>
            </div>
            <div class="footer-break"></div>

            <div class="footer-rede-social">
                <a class="footer-itens-a" target="_blank" href="https://www.instagram.com/coletivolabor/">
                    <span class="footer-itens-a-normal">Instagram</span>
                    <span class="footer-itens-a-bold b2">Instagram</span>
                </a> <span class="footer-itens-a">|</span><!--
                <a class="footer-itens-a" target="_blank" href="#">
                    <span class="footer-itens-a-normal">Twitter</span>
                    <span class="footer-itens-a-bold b2">Twitter</span>
                </a> <span class="footer-itens-a">|</span>-->
                <a class="footer-itens-a" target="_blank" href="https://www.youtube.com/channel/UCS5zdFSSAGBpdQtzCphBG6w">
                    <span class="footer-itens-a-normal">Youtube</span>
                    <span class="footer-itens-a-bold b2">Youtube</span>
                </a> <span class="footer-itens-a">|</span><!--
                <a class="footer-itens-a" target="_blank" href="#">
                    <span class="footer-itens-a-normal">Behance</span>
                    <span class="footer-itens-a-bold b2">Behance</span>
                </a> <span class="footer-itens-a">|</span>-->
                <a class="footer-itens-a" target="_blank" href="https://www.facebook.com/coletivolabor">
                    <span class="footer-itens-a-normal">Facebook</span>
                    <span class="footer-itens-a-bold b2">Facebook</span>
                </a>
            </div>
        </div>

    </div>
</body>
</html>
<script type="text/javascript" src="../javascript/javascript.js"></script>
<script>

    
    var f1_1 = document.getElementById("about");
    var f1_2 = document.getElementById("navbar");
    function f1() {
        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0) * 9/16;
        var marginTop = h;
        if(w < h)
            marginTop = w;
        marginTop -= (f1_2.offsetHeight + 10);
        f1_1.style.marginTop = marginTop + "px";
    }
    function fs() {
        f1();
        requestAnimationFrame(fs);
    }fs();
</script>