<!DOCTYPE html>
<html>
<head>
    <title>Co-Labor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/layout.css"></link>
</head>
<body style="background-color: #FEBA12">
    <div class="inner-body">
        <div class="carrossel">
            <div id="carrossel" class="carrossel-inner">
                <img class="carrossel-img" src="../image/header_Prancheta 1.jpg">
            </div>
            
            <div id="carrossel-balls" class="carrossel-balls"></div>
        </div>

        <div class="navbar-margin"></div>
        <div id="navbarbg" class="navbarbg"></div>

        <div id="navbar" class="navbar" style="transform: translateY(10px);">
            <div class="navbar-itens" style="font-size: 0.8em;">
                <a href="/home" style="position: relative; display: inline-block; max-width: 220px; width: 20%;">
                    <img src="../image/header_Prancheta 1-svg.svg" style="transform: translateY(20%); width: 100%;">
                </a>
                <a class="navbar-itens-a" href="#">
                    <span style="" class="navbar-itens-a-normal">Agenda</span>
                    <span style="" class="navbar-itens-a-bold">Agenda</span>
                </a>
                <a class="navbar-itens-a" href="#">
                    <span style="" class="navbar-itens-a-normal">Produtos</span>
                    <span style="" class="navbar-itens-a-bold">Produtos</span>
                </a>
                <a class="navbar-itens-a" href="/contato">
                    <span style="" class="navbar-itens-a-normal">Contato</span>
                    <span style="" class="navbar-itens-a-bold">Contato</span>
                </a>
                <a class="navbar-itens-a" href="/sobre">
                    <span style="" class="navbar-itens-a-normal">Sobre</span>
                    <span style="" class="navbar-itens-a-bold">Sobre</span>
                </a>
                <a class="navbar-itens-a" href="#">
                    <span style="" class="navbar-itens-a-normal">Cadastro/Login</span>
                    <span style="" class="navbar-itens-a-bold">Cadastro/Login</span>
                </a>
            </div>
        </div>

        <div id="about" style="width: 100%; font-family: mySerif; font-size: 1.2em; text-align: justify;">
            <h1 style="text-align: center; padding-top: 100px; font-family: myFuturaBold;">MANIFESTO</h1>
            <p style="padding-bottom: 50px; text-align: center; font-family: mySerifBold; font-size: .9em; font-weight: bold; font-style: italic;">Por que um Coletivo Labor</p><br>
            <p>Surgimos em tempos obscuros. Em que uma das ordens é “Não fale em crise, trabalhe!”. Em que o Labor é chamado de trabalho, tarefa árdua, demorada, que tomou conta de nossas vidas. Nosso trabalho há muito tempo não é nosso. Apesar de nos venderem a  um  tempo  a  ideia  de  que  “somos  empresários  de  nós  mesmos”,  continuamos  a  trabalhar  para  os  outros.  O  Labor  mítico,  da  pessoa que provê sua subsistência, não é o trabalho que nos apresentaram. Esse trabalho é outra coisa, tem a ver com o tal do mais-valor.</p><br>
            <p>Apropriamo-nos do Labor. Ressignificamos, pois gostamos de fazer coisas. Somos como os bricoleurs de Strauss, ou melhor, abra-sileirando, somos "bricoleiros" pois buscamos voltar a um estado selvagem de produção. Fazemos as coisas com as mãos, tanto literalmente, em alguns casos, quanto metaforicamente, em relação ao afeto que temos por nossa produção.</p><br>
            <p>Somos seres urbanos ativos, sedentos por dar forma a coisas e conceitos. Nesse fluxo, também somos artistas, mas não apenas artistas românticos. Acreditamos na retomada do conceito de arte a qual era a faceta produtiva da vida humana. Aquele artista que fazia de tudo: pintava quadros e inventava máquinas voadoras. Hoje, nossa noção de arte é guiada pelo que pode ser chama-do de divisão romântico-positivista, em que o positivismo tomou para si o conhecimento técnico e científico e o romantismo a dis-cussão das ideias, a arte, a filosofia. Acreditamos que essa separação não é benéfica a nós, mas apenas àqueles que buscam cap-turar nossa força de produção para seus interesses.</p><br>
            <p>Por isso somos um grupo interdisciplinar de artistas, mais uma vez, no sentido antigo da palavra. Somos psicólogos, arquitetos, designers, artistas visuais, marceneiros, escritores, fotógrafos. E, ao mesmo tempo, somos só cinco sabendo um pouco de cada coisa. Por isso buscamos contagiar mais pessoas, outros profissionais em bricolagem, que gostem de aprender e discutir. Tanto os que tenham a nossa especialidade, quanto os que não. Sejam músicos, artesãos, produtores culturais, programadores... Mais ainda: buscamos ser catalizadores, para que essa cultura seja impulsionada.</p><br>
            <p>
                <span style="font-family: myFuturaBold; font-size: 1.1em;">BRICOLAGEM</span><br>
                Conhecimento Vernacular.<br>
                Ação Espontânea.<br>
                Produção Selvagem.<br>
                <span style="font-size: .7em; font-style: italic;">termor<br>
                ressignificado por<br>
                <span style="font-weight: bold;">Levi Strauss</span></span>
            </p>
            <div class="footer-break"></div>

            <div style="width: 100%; margin-bottom: 50px;">
                <div class="aboutBold" style="padding: 50px 0 30px 0;">veja também</div>
                <a class="navbar-itens-a" href="/blog/1">
                    <img style="width: 33%; margin-top: 75px; float: left; border-style: solid; border-width: 1.5px; background-color: black; margin-right: 30px;" src="../image/3_O Homem Invisível_FelipeTakei_THUMB_Prancheta 1.jpg">
                </a>
                <a class="navbar-itens-a" href="/blog/2">
                    <img style="width: 33%; border-style: solid; border-width: 1.5px; background-color: black; margin-right: 30px;" src="../image/thumnail_feeddosite-03.jpg">
                </a>
            </div>
        </div>

        <div class="footer">
            <div class="footer-img-wrapper">
                <img class="footer-img" src="../image/Logos/Marca_Co_Labor_transparente1.svg">
            </div>
            <div class="footer-box left">
                <a class="footer-itens-a" href="#">
                    <span class="footer-itens-a-normal">Loja</span>
                    <span class="footer-itens-a-bold">Loja</span>
                </a>
                <br><br>
                <a class="footer-itens-a" href="#">
                    <span class="footer-itens-a-normal">Agenda</span>
                    <span class="footer-itens-a-bold">Agenda</span>
                </a>
            </div>
            <div class="footer-box left">
                <a class="footer-itens-a" href="#">
                    <span class="footer-itens-a-normal">Sobre</span>
                    <span class="footer-itens-a-bold">Sobre</span>
                </a>
                <br><br>
                <a class="footer-itens-a" href="#">
                    <span class="footer-itens-a-normal">Contato</span>
                    <span class="footer-itens-a-bold">Contato</span>
                </a>
            </div>
            <div class="footer-box right">
                <span class="footer-text">Faça seu Cadastro:</span>
                <br><br>
                <input class="footer-input barra" placeholder="Email" type="text">
                <br><br>
                <input class="footer-input barra" placeholder="Senha" type="password">
                <br><br>
                <a class="footer-itens-a ativo" style="float: right;" href="#">
                    <span class="footer-itens-a-normal">OK</span>
                    <span class="footer-itens-a-bold b2">OK</span>
                </a>
            </div>
            <div class="footer-break"></div>

            <div class="footer-rede-social">
                <a class="footer-itens-a" target="_blank" href="https://www.instagram.com/coletivolabor/">
                    <span class="footer-itens-a-normal">Instagram</span>
                    <span class="footer-itens-a-bold b2">Instagram</span>
                </a> <span class="footer-itens-a">|</span><!--
                <a class="footer-itens-a" target="_blank" href="#">
                    <span class="footer-itens-a-normal">Twitter</span>
                    <span class="footer-itens-a-bold b2">Twitter</span>
                </a> <span class="footer-itens-a">|</span>-->
                <a class="footer-itens-a" target="_blank" href="https://www.youtube.com/channel/UCS5zdFSSAGBpdQtzCphBG6w">
                    <span class="footer-itens-a-normal">Youtube</span>
                    <span class="footer-itens-a-bold b2">Youtube</span>
                </a> <span class="footer-itens-a">|</span><!--
                <a class="footer-itens-a" target="_blank" href="#">
                    <span class="footer-itens-a-normal">Behance</span>
                    <span class="footer-itens-a-bold b2">Behance</span>
                </a> <span class="footer-itens-a">|</span>-->
                <a class="footer-itens-a" target="_blank" href="https://www.facebook.com/coletivolabor">
                    <span class="footer-itens-a-normal">Facebook</span>
                    <span class="footer-itens-a-bold b2">Facebook</span>
                </a>
            </div>
        </div>

    </div>
</body>
</html>
<script type="text/javascript" src="../javascript/javascript.js"></script>
<script>
    var f1_1 = document.getElementById("about");
    var f1_2 = document.getElementById("navbar");
    function f1() {
        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0) * 9/16;
        var marginTop = h;
        if(w < h)
            marginTop = w;
        marginTop -= (f1_2.offsetHeight + 10);
        f1_1.style.marginTop = marginTop + "px";
    }
    function fs() {
        f1();
        requestAnimationFrame(fs);
    }fs();
</script>